@model BicycleStore.Models.ViewModels.BicycleListViewModel

    @if (ViewBag.Thanks != null)
    {
        <div class="display-3 text-success">@ViewBag.Thanks</div>
    }
    <h2>Bicycles</h2>
    <form>
        <input type="hidden" id="availiablePages" value="@ViewBag.AvailiablePages" />
    </form>
    <div class="row align-items-center m-3">
        <div class="col-8">
            <input type="text" id="searchText" class="form-control" placeholder="Enter the name of the model,`Search` button will work with selected filters" />
        </div>
        <div class="col-auto">
            <button id="search" class="btn btn-primary">Search</button>
        </div>
        
    </div>
    
    <div id="bicycle-list">

    </div>

    <div class="d-inline-flex flex-row border">
        @for (int i = 1; i < ViewBag.AvailiablePages + 3; i++)
        {

            if (i == 1)
            {
                <button class="btn border-right pageSelector" value="dec">&#60;</button>
            }
            else if(i == ViewBag.AvailiablePages+2)
            {
                <button class="btn border-right pageSelector" value="inc">&#62;</button>
            }
            else
            {
                <button class="btn border-right pageSelector" value="@(i-1)">@(i-1)</button>
            }

        }
    </div>