@model string

<h1>Changing password</h1>
<div asp-validation-summary="ModelOnly"></div>
<form asp-action="ChangePassword" method="post">
    <input type="hidden" name="userId" value="@Model" />
    <div class="row align-items-center m-2">
        <div class="col-auto">
            <label for="oldPassword" class="form-label">Enter old password:</label>
        </div>
        <div class="col-auto">
            <input type="password" name="oldPassword" id="oldPassword" class="form-control"/>
        </div>  
    </div>
    <div class="row align-items-center m-2">
        <div class="col-auto">
            <label for="newPassword" class="form-label">Enter new password:</label>
        </div>
        <div class="col-auto">
            <input type="password" name="newPassword" id="newPassword" class="form-control"/>
        </div>
    </div>   
    <input type="submit" class="btn btn-primary" value="Save"/>
</form>